
.sideBar{
  position: fixed;
  width: 290px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow-x: hidden;
  background-color: #0E1214;
}

.left-menu{
  position: absolute;
  width: 220px;
  height: 600px;
  top: 103px;
  left: 41px;
  padding-left: 0px;
  
}

.nav-element{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 10px 35px;
  list-style: none;
  height: 30px;
  margin-top:7px;
  text-decoration: none;
  color: #f5f5f5;
}

/* This is unnecessary piece of code*/
.nav-element a{
  text-decoration: none;
  color: #f5f5f5;
  display: flex;
  justify-content: center;

}

.logo{
  padding-left: 0px;
  height: 25px;
  filter: grayscale(1);
}

.nav-text{
  padding-left: 17px;
  padding-top: 2px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.025em;
  line-height: 167.5%;
}

/* This is unnecessary piece of code*/
li:hover{
  border: 0px;
  border-radius: 7px; 
  color: #BB86FC;
  background: linear-gradient(90.1deg, #3B2959 0.43%, #291D41 41.76%, #1D282F 98.22%);
}

.nav-element:hover {
  border: 0px;
  border-radius: 7px; 
  color: #BB86FC;
  background: linear-gradient(90.1deg, #3B2959 0.43%, #291D41 41.76%, #1D282F 98.22%);
}

/* usefull when integrate permanent radiant on click 
.nav-element:hover {
  border: 0px;
  border-radius: 7px; 
  background: #141A1E;
}
*/
.company-logo{
  position: fixed;
  bottom: 60px;
  left: 74px;
}

.company-logo img{
  max-width: 100%;
  width: 140px;
}


.products-bg{
  background-color: #141A1E;
}

.drop-element{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 10px 35px;
  list-style: none;
  height: 30px;
  margin-top:7px;
  text-decoration: none;
  color: #f5f5f5;
}

.icons{
  margin-left: 3px;
  padding-top: 3px;
}

.product-element{
  padding-left: 25px;
}


