
.header{
    
}

.search-bar{
    display: inline-block;
    margin-left: 64px;
    margin-top: 12px;
}

.network-dropdown{
    position: absolute;
    display: inline-block;
    margin-left: 345px;
}

.gas-dropdown{
    position: absolute;
    display: inline-block;  
    margin-left: 445px;
    top: 11px;
}

.language-dropdown{
    position: absolute;
    display: inline-block;
    margin-left: 545px;
    top: 10px;
}

.help-dropdown{
    position: absolute;
    display: inline-block;
    margin-left: 645px;
    top: 5px;
}